NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
API_RATE_LIMIT_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
BREVO_API_KEY=
NEXT_PUBLIC_GEOAPIFY_API_KEY=880c7d727f424d09a5bf91b0de9f187c
